body {
    background: #f5fff2;
}

#navBox,#leftNavBox{
    font-weight: bold;
}

#container {
    min-height: 100%;
    position: relative;
}

/*navBox(top)*/
#navBox {
    width: 92%;
    float: top;
    height: 60px;
}

#navBox img#logo{
    height: 40px;
    alignment:top;
    float: left;
}

#navBox,#leftNavBox a {
    text-decoration: none;
}

#navBox .singleMenu{
    padding: 10px 30px;
    font-size: 16px;
    display: inline-block;
    color: #696969;
    transition: .8s;
}

#navBox .singleCont {
    width: 100px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    transition: .8s;
}

#navBox #selected {
    background-color: #999999;
    color: white;
}

#navBox .singleMenu:hover {
    background-color: #999999;
    color: white;
}

#navBox .singleMenu:hover .singleCont {
    display: block;
}

#navBox .singleItem {
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    float: left;
    color: #696969;
    transition: .8s;
}

#navBox .singleItem:hover {
    background-color: #999999;
    color: white;
}

#navBox #navRight{
    float: right;
}
/*/navBox*/
/*content*/
#leftNavBox {
    display: block;
    width: 10%;
    float: left;
    margin-right: 10px;
}

#leftNavBox *{
    padding: 0 0;
    margin: 0 0 0 0 ;
}

#leftNavBox h2{
    width: 100%;
    position: relative;
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #696969;
    transition: .8s;
}

#leftNavBox .singleMenu:hover h2{
    background-color: #999999;
    color: white;
}

#leftNavBox .singleMenu .singleCont{
    display: none;
    width: 100px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
}

#leftNavBox .singleMenu:hover .singleCont{
    display: block;
}

#leftNavBox .singleItem:hover {
    background-color: #999999;
    color: white;
}

#content {
    display: block;
    float: left;
    alignment: center;
    width: 80%;
    margin-right: 10px;
    border:2px black solid;
    border-radius: 10px;
    overflow: hidden;
}

#content .singleRecCol{
    border: 1px black solid;
    border-radius: 5px;
    margin: 2px 2px ;
}

#content .zan{
    color: #ef89a2;
    font-weight: bold;
}

#content #pageBox{
    float: right;
}

table.contTable {
    width: 90%;
    display: block;
    text-align: center;
    margin: 20px;
    border-collapse: separate;
    border-spacing: 0;
    border: 2px #000;
}

table.contTable tbody{
    width: 100%;
}

table.contTable tr th{
    width: 100%;
}

table.contTable tr th:first-child, table.contTable tr td:first-child { /*设置table.navTable左边边框*/
    border-left: 2px solid #eaeaea;
}

table.contTable tr th:last-child, table.contTable tr td:last-child { /*设置table.navTable右边边框*/
    border-right: 2px solid #eaeaea;
}

table.contTable tr td:first-child, table.contTable tr td:nth-child(2), table.contTable tr td:nth-child(3), table.contTable tr td:last-child { /*设置table.navTable表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}

table.contTable tr th {
    background: #eaeaea;
}

table.contTable tr:first-child th:first-child {
    border-top-left-radius: 12px;
}

table.contTable tr:first-child th:last-child {
    border-top-right-radius: 12px;
}

table.contTable tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

table.contTable tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}
/*/content*/
#returnTop {
    width: 50px;
    height: 50px;
    line-height: 25px;
    background-color: rgba(9, 0, 212, 0.40);
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    position: fixed;
    right: 100px;
    bottom: 20%;
    z-index: 1000;
}
#returnTop:hover{
    background-color: rgba(68, 0, 212, 0.8);
}
/*foot(bottom)*/
div#foot {
    position: absolute;
    bottom: 0;
    width: 99.6%;
    height: 60px;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    background-color: #696969;
    color: white;
    clear: both;
}

/*/foot*/